<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjxt.ssm.mapper.ChannelTemplateMapper">
	<resultMap type="com.jjxt.ssm.entity.ChannelTemplate" id="channelTemplate">
		<id column="id" property="id" />
		<result column="channel_id" property="channelId" />
		<result column="channel_name" property="channelName" />
		<result column="channel_app_id" property="channelAppId" />
		<result column="channel_template_id" property="channelTemplateId" />
		<result column="channel_template" property="channelTemplate" />
		<result column="template" property="template" />
		<result column="extras" property="extras" />
	</resultMap>
	
	<select id="findChannelAppIds" resultMap="channelTemplate">
		SELECT DISTINCT `channel_app_id` FROM sms_core.t_channel_template;
	</select>
	
	<select id="findAllList" resultMap="channelTemplate" parameterType="map">
		SELECT s.id id,s.channel_id channel_id,c.`name`
		channel_name,s.channel_app_id channel_app_id,s.channel_template_id channel_template_id,s.channel_template
		channel_template,s.template template,s.extras extras
		FROM
		sms_core.t_channel_template s LEFT JOIN sms_core.args_channel c ON
		s.channel_id=c.channel_id WHERE 1=1
		<if test="channelId !=''  and channelId !=null ">
			AND s.channel_id = #{channelId}
		</if>
		<if test="channelAppId !='' and channelAppId !=null ">
			AND s.channel_app_id like "%"#{channelAppId}"%"
		</if>
		<if test="channelTemplateId !='' and channelTemplateId !=null ">
			AND s.channel_template_id like "%"#{channelTemplateId}"%"
		</if>
		<if test="channelTemplate !='' and channelTemplate !=null ">
			AND s.channel_template like "%"#{channelTemplate}"%"
		</if>
		<if test="extras !='' and extras !=null ">
			AND s.extras like "%"#{extras}"%"
		</if>
		ORDER BY s.id DESC limit #{start},#{end}
	</select>

	<select id="findTotal" resultType="int" parameterType="map">
		SELECT COUNT(1) FROM sms_core.t_channel_template s WHERE 1=1
		<if test="channelId !=''  and channelId !=null ">
			AND s.channel_id = #{channelId}
		</if>
		<if test="channelAppId !='' and channelAppId !=null ">
			AND s.channel_app_id like "%"#{channelAppId}"%"
		</if>
		<if test="channelTemplateId !='' and channelTemplateId !=null ">
			AND s.channel_template_id like "%"#{channelTemplateId}"%"
		</if>
		<if test="channelTemplate !='' and channelTemplate !=null ">
			AND s.channel_template like "%"#{channelTemplate}"%"
		</if>
		<if test="extras !='' and extras !=null ">
			AND s.extras like "%"#{extras}"%"
		</if>
	</select>

	<insert id="addChannelTemplate" parameterType="com.jjxt.ssm.entity.ChannelTemplate">
		insert into
		sms_core.t_channel_template(channel_id,channel_app_id,channel_template_id,channel_template,template,extras) values(
		#{channelId},#{channelAppId},#{channelTemplateId},#{channelTemplate},#{template},#{extras}
		)
	</insert>
	
	<select id="findAddEnd" resultMap="channelTemplate">
		SELECT s.id id,s.channel_id channel_id,c.`name`
		channel_name,s.channel_app_id channel_app_id,s.channel_template_id channel_template_id,s.channel_template
		channel_template,s.template template,s.extras extras
		FROM
		sms_core.t_channel_template s LEFT JOIN sms_core.args_channel c ON
		s.channel_id=c.channel_id ORDER BY s.id DESC limit 1;
	</select>
	
	<select id="findChannelTemplateById" resultMap="channelTemplate"
		parameterType="int">
		SELECT
		id,channel_id,channel_app_id,channel_template_id,channel_template,template,extras
		FROM
		sms_core.t_channel_template WHERE id =#{id}
	</select>
	
	<update id="updateChannelTemplate" parameterType="com.jjxt.ssm.entity.ChannelTemplate">
		UPDATE sms_core.t_channel_template 
		<set>
			<if test="channelId !=''  and channelId !=null ">
				channel_id = #{channelId},
			</if>
			<if test="channelAppId !='' and channelAppId !=null ">
				channel_app_id = #{channelAppId},
			</if>
			<if test="channelTemplateId !='' and channelTemplateId !=null ">
				channel_template_id = #{channelTemplateId},
			</if>
			<if test="channelTemplate !='' and channelTemplate !=null ">
				channel_template = #{channelTemplate},
			</if>
			<if test="template !='' and template !=null ">
				template = #{template},
			</if>
			<if test="extras !='' and extras !=null ">
				extras = #{extras},
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<delete id="deleteChannelTemplate" parameterType="int">
		DELETE FROM
		sms_core.t_channel_template WHERE id=#{id}
	</delete>

	<select id="findChannelTemplateByIds" resultMap="channelTemplate"
		parameterType="int">
		SELECT
		id,channel_id,channel_app_id,channel_template_id,channel_template,template,extras
		FROM sms_core.t_channel_template
		WHERE id IN
		<foreach collection="array" index="index" item="id" open="("
			separator="," close=")">
			#{id}
		</foreach>
	</select>
	
	<delete id="deleteChannelTemplateBatch">
		DELETE FROM sms_core.t_channel_template WHERE id in
		<foreach collection="array" index="index" item="id" open="("
			separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<insert id="addChannelTemplateBatch" parameterType="java.util.List">
		insert into
		sms_core.t_channel_template(channel_id,channel_app_id,channel_template_id,channel_template,template,extras)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.channelId},#{item.channelAppId},#{item.channelTemplateId},#{item.channelTemplate},#{item.template},#{item.extras})
		</foreach>
	</insert>
	
	<select id="findChannelTemplateAll" resultMap="channelTemplate">
		SELECT s.id id,s.channel_id channel_id,c.`name`
		channel_name,s.channel_app_id channel_app_id,s.channel_template_id channel_template_id,s.channel_template
		channel_template,s.template template,s.extras extras
		FROM
		sms_core.t_channel_template s LEFT JOIN sms_core.args_channel c ON
		s.channel_id=c.channel_id;
	</select>
	
</mapper>

