<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjxt.ssm.mapper.SignBaobeiMapper">
	<resultMap type="com.jjxt.ssm.entity.SignBaobei" id="SignBaobei">
		<id column="id" property="id" />
		<result column="channel_id" property="channelId" />
		<result column="channel_name" property="channelName" />
		<result column="company_name" property="companyName" />
		<result column="sign" property="sign" />
		<result column="ext_src" property="extSrc" />
		<result column="baobei_flag" property="baobeiFlag" />
		<result column="active_time" property="activeTime" />

	</resultMap>
	<select id="findAllList" resultMap="SignBaobei" parameterType="map">
		SELECT s.id id,s.channel_id channel_id,c.`name`
		channel_name,s.company_name company_name,s.sign sign,s.ext_src
		ext_src,s.baobei_flag baobei_flag,s.active_time active_time
		FROM
		sms_core.pre_sign_baobei s LEFT JOIN sms_core.args_channel c ON
		s.channel_id=c.channel_id WHERE 1=1
		<if test="sign !=''">
			AND s.sign like "%"#{sign}"%"
		</if>
		<if test="maxExt !='' and maxExt !=null ">
			AND LENGTH(s.ext_src)&lt;=#{maxExt}
		</if>
		<if test="minExt !='' and minExt !=null ">
			AND LENGTH(s.ext_src)&gt;=#{minExt}
		</if>
		<if test="baobeiFlag !=''">
			AND s.baobei_flag = #{baobeiFlag}
		</if>
		<if test="channelId !=''">
			AND s.channel_id = #{channelId}
		</if>
		<if test="startTime !=''">
			AND s.active_time &gt;= #{startTime}
		</if>
		<if test="endTime !=''">
			AND s.active_time &lt;= #{endTime}
		</if>
		ORDER BY s.active_time DESC limit #{start},#{end}
	</select>

	<select id="findTotal" resultType="int" parameterType="map">
		SELECT COUNT(1) FROM sms_core.pre_sign_baobei s WHERE 1=1
		<if test="sign !=''">
			AND s.sign like "%"#{sign}"%"
		</if>
		<if test="maxExt !='' and maxExt !=null ">
			AND LENGTH(s.ext_src)&lt;=#{maxExt}
		</if>
		<if test="minExt !='' and minExt !=null ">
			AND LENGTH(s.ext_src)&gt;=#{minExt}
		</if>
		<if test="baobeiFlag !=''">
			AND s.baobei_flag = #{baobeiFlag}
		</if>
		<if test="channelId !=''">
			AND s.channel_id = #{channelId}
		</if>
		<if test="startTime !=''">
			AND s.active_time &gt;= #{startTime}
		</if>
		<if test="endTime !=''">
			AND s.active_time &lt;= #{endTime}
		</if>
	</select>

	<select id="findListById" resultMap="SignBaobei" parameterType="int">
		SELECT s.id id,s.channel_id channel_id,c.`name`
		channel_name,s.company_name company_name,s.sign sign,s.ext_src
		ext_src,s.baobei_flag baobei_flag,s.active_time active_time
		FROM
		sms_core.pre_sign_baobei s LEFT JOIN sms_core.args_channel c ON
		s.channel_id=c.channel_id WHERE id=#{id}
	</select>

	<delete id="delSignBaobei" parameterType="int">
		DELETE FROM
		sms_core.pre_sign_baobei WHERE id=#{id}
	</delete>

	<update id="updateFlagToNo" parameterType="int">
		UPDATE
		sms_core.pre_sign_baobei SET baobei_flag='no' WHERE id=#{id}
	</update>

	<update id="updateFlagToYes" parameterType="int">
		UPDATE
		sms_core.pre_sign_baobei SET baobei_flag='yes' WHERE id=#{id}
	</update>

	<delete id="deleteAll">
		delete from  sms_core.pre_sign_baobei
	</delete>

	<insert id="addBatchSignBaobei" parameterType="java.util.List">
		insert into
		sms_core.pre_sign_baobei(sp_id,channel_id,company_name,sign,ext_src,baobei_flag,active_time)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(1,#{item.channelId},#{item.companyName},#{item.sign},#{item.extSrc},#{item.baobeiFlag},now())
		</foreach>
	</insert>

	<select id="findExistList" resultMap="SignBaobei" parameterType="map">
		select id,channel_id,sign,ext_src,company_name from
		sms_core.pre_sign_baobei where 1=1
		<if test="sign !=null and sign!=''">
			and FIND_IN_SET(sign,#{sign})>0
		</if>
		<if test="channelId !=null">
			and channel_id=#{channelId}
		</if>
		<if test="extSrc !=null and extSrc!=''">
			and FIND_IN_SET(ext_src,#{extSrc})>0
		</if>
		<if test="companyName !=null and companyName != ''">
			and FIND_IN_SET(company_name,#{companyName})>0
		</if>
	</select>

	<delete id="deleteBatchSignBaobei" parameterType="string">
		delete from
		sms_core.pre_sign_baobei where FIND_IN_SET(id,#{ids})>0
	</delete>

	<select id="findSignBaobeiAll" resultMap="SignBaobei">
		SELECT s.id
		id,s.channel_id channel_id,c.`name`
		channel_name,s.company_name
		company_name,s.sign sign,s.ext_src
		ext_src,s.baobei_flag
		baobei_flag,s.active_time active_time
		FROM
		sms_core.pre_sign_baobei s
		LEFT JOIN sms_core.args_channel c ON
		s.channel_id=c.channel_id
	</select>
</mapper>










